@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FilsonPro-Heavy';
  src: url('./assets/fonts/FilsonProHeavy.ttf') format('truetype');
}
@font-face {
  font-family: 'Mona-Sans-Medium';
  src: url('./assets/fonts/Mona-Sans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Mona-Sans-Regular';
  src: url('./assets/fonts/Mona-Sans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mona-Sans-SemiBold';
  src: url('./assets/fonts/Mona-Sans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mona-Sans-Bold';
  src: url('./assets/fonts/Mona-Sans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mona-Sans-Black';
  src: url('./assets/fonts/Mona-Sans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Mona-Sans-ExtraBold';
  src: url('./assets/fonts/Mona-Sans-ExtraBold.ttf') format('truetype');
}

@layer base {
  body {
    @apply bg-white text-[#111] overflow-x-hidden;
    font-family: 'Mona-Sans-Regular';
  }

  p,
  span {
    @apply leading-tight;
  }
}

.monaRegular {
  font-family: 'Mona-Sans-Regular';
  font-weight: 400;
}
.monaMedium {
  font-family: 'Mona-Sans-Medium';
  font-weight: 500;
}
.monaSemibold {
  font-family: 'Mona-Sans-SemiBold';
  font-weight: 600;
}
.monaBold {
  font-family: 'Mona-Sans-Bold';
  font-weight: 700;
}
.monaExtraBold {
  font-family: 'Mona-Sans-ExtraBold';
  font-weight: 800;
}
.monaBlack {
  font-family: 'Mona-Sans-Black';
  font-weight: 900;
}
.filsonHeavy {
  font-family: 'FilsonPro-Heavy';
  font-weight: 800;
}

.borderRad1 {
  border-radius: 1rem !important;
}

@media screen and (max-width: 640px) {
  .bgPrimSm {
    height: 90svh !important;
  }

  .marginT2r {
    margin-top: 2rem;
  }
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-gray-50;
  }
}

@layer utilities {
  .img-fluid {
    @apply max-w-full h-auto;
  }

  .flexy {
    @apply flex items-center justify-center;
  }
  .itemsCenter {
    @apply flex items-center;
  }
  .flexBetween {
    @apply flex items-center justify-between;
  }
  .flexStart {
    @apply flex items-start justify-start;
  }
  .horLine {
    @apply h-[1px] w-32 bg-white;
  }
  .smallBtn {
    @apply py-2 px-6;
    font-family: 'Mona-Sans-SemiBold';
  }

  .bord {
    @apply border-2 border-primary rounded-full;
  }

  .transitAll {
    @apply transition-all duration-500 ease-in-out;
  }

  .scal105 {
    @apply transform hover:scale-105;
  }

  .body-1 {
    @apply text-[16px] leading-[24px];
    font-family: 'Mona-Sans-Regular';
  }

  .body-2 {
    @apply text-[14px] leading-[20px];
    font-family: 'Mona-Sans-Regular';
  }

  .body-2 {
    @apply text-[14px] leading-[20px];
    font-family: 'Mona-Sans-Regular';
  }

  .form-item {
    @apply flex w-full h-[78px] flex-col justify-center rounded-lg border border-[#F2F5F9] px-4 py-2 shadow-drop-1 space-y-2 !important;
  }

  .form-input-focus {
    @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .form-input {
    @apply border-none shadow-none p-0 form-input-focus placeholder:text-[#A3B2C7] body-2 w-full !important;
  }

  .form-label {
    @apply w-full text-[#333F4E] body-1 !important;
    font-family: 'Mona-Sans-Semibold' !important;
  }
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  border-radius: 1rem !important;
}

.client-logo img {
  width: 150px;
  height: 60px;
  object-fit: contain;
}
