@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FilsonPro-Heavy';
  src: url('./assets/fonts/FilsonProHeavy.ttf') format('truetype');
}
@font-face {
  font-family: 'Mona-Sans-Medium';
  src: url('./assets/fonts/Mona-Sans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Mona-Sans-Regular';
  src: url('./assets/fonts/Mona-Sans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mona-Sans-SemiBold';
  src: url('./assets/fonts/Mona-Sans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mona-Sans-Bold';
  src: url('./assets/fonts/Mona-Sans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mona-Sans-Black';
  src: url('./assets/fonts/Mona-Sans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Mona-Sans-ExtraBold';
  src: url('./assets/fonts/Mona-Sans-ExtraBold.ttf') format('truetype');
}

@layer base {
  body {
    @apply bg-white text-slate-900 overflow-x-hidden font-monaRegular;
  }

  p,
  span {
    @apply leading-tight;
  }
}

.monaRegular {
  font-family: 'Mona-Sans-Regular';
  font-weight: 400;
}
.monaMedium {
  font-family: 'Mona-Sans-Medium';
  font-weight: 500;
}
.monaSemibold {
  font-family: 'Mona-Sans-SemiBold';
  font-weight: 600;
}
.monaBold {
  font-family: 'Mona-Sans-Bold';
  font-weight: 700;
}
.monaExtraBold {
  font-family: 'Mona-Sans-ExtraBold';
  font-weight: 800;
}
.monaBlack {
  font-family: 'Mona-Sans-Black';
  font-weight: 900;
}
.filsonHeavy {
  font-family: 'FilsonPro-Heavy';
  font-weight: 800;
}

.borderRad1 {
  border-radius: 1rem !important;
}

@media screen and (max-width: 640px) {
  .bgPrimSm {
    height: 90svh !important;
  }

  .marginT2r {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .stickness {
    position: -webkit-sticky !important;
    position: sticky !important;
  }
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white;
  }
}

@layer utilities {
  .img-fluid {
    @apply max-w-full h-auto;
  }

  .flexy {
    @apply flex items-center justify-center !important;
  }
  .itemsCenter {
    @apply flex items-center !important;
  }
  .flexBetween {
    @apply flex items-center justify-between !important;
  }

  .flexStart {
    @apply flex items-start justify-start !important;
  }

  .justStartCenter {
    @apply flex items-center justify-start !important;
  }

  .itemsStart {
    @apply flex items-start justify-center !important;
  }

  .itemsEnd {
    @apply flex items-end justify-end !important;
  }

  .horLine {
    @apply h-[1px] w-32 bg-white;
  }

  .hrBlack {
    @apply !h-[2px] opacity-75 w-24 bg-black mr-2 hidden lg:block;
  }
  .smallBtn {
    @apply py-2 px-6 font-monaSemibold;
  }

  .bord {
    @apply border-2 border-primary rounded-full;
  }

  .transitAll {
    @apply transition-all duration-500 ease-in-out !important;
  }

  .scal105 {
    @apply transform hover:scale-105 ease-in-out !important;
  }

  .scal110 {
    @apply transform hover:scale-110 ease-in-out !important;
  }

  .transBorderBtn {
    @apply bg-transparent border-[2.5px] border-white gap-x-2 flexy py-4 px-8 rounded-full text-xl  text-white transitAll scal110 font-monaSemibold !important;
  }

  .whiteButton {
    @apply bg-white py-4 px-8 rounded-full text-lg  text-primary transitAll scal110 font-monaSemibold !important;
  }

  .whiteLGButton {
    @apply bg-white py-5 px-12 rounded-full text-2xl text-primary transitAll scal110 font-monaBold !important;
  }

  .whiteLink {
    @apply bg-white text-primary py-3 px-8 rounded-full text-lg transition-all  transform duration-500 hover:scale-110 ease-in-out font-monaSemibold !important;
  }

  .primaryLink {
    @apply bg-primary text-white py-3 px-12 rounded-full text-lg transitAll scal110 font-monaSemibold !important;
  }

  .primaryLGLink {
    @apply bg-primary text-white py-4 px-12 rounded-full text-xl transitAll scal110 font-monaSemibold !important;
  }

  .tpLGBtn {
    @apply bg-transparent text-gray-800 border-[2.5px] border-gray-800 text-2xl rounded-full py-4 px-10 transitAll scal110 hover:bg-white hover:text-primary hover:border-white font-monaBold !important;
  }

  .bookCallNow {
    @apply bg-transparent text-white text-2xl border-[2.5px] border-white rounded-full py-4 px-10 uppercase font-monaBold transitAll scal110 hover:bg-white hover:text-primary !important;
  }

  /* .bookCallNow svg {
    @apply w-8 h-8;
  } */

  .bgChange {
    @apply transitAll scal105 bg-white text-slate-900 hover:bg-primary hover:text-white;
  }

  .tpLink {
    @apply rounded-full py-3.5 px-8 uppercase scal105 transitAll border-2 border-white bg-transparent hover:bg-white hover:text-primary font-monaSemibold !important;
  }

  .tpBordPrim {
    @apply rounded-full py-3.5 px-7 scal110 transitAll bg-transparent border-[2.5px] border-primary hover:shadow-drop-5 text-primary !important;
  }

  .interestedLink {
    @apply rounded-full py-3.5 px-8 uppercase scal105 transitAll bg-white text-primary font-monaBold !important;
  }

  .tabsBtn {
    @apply rounded-full border-2 border-[#339af0] text-stone-100 bg-[#339af0] text-xl py-2 px-6 transitAll scal105 font-monaSemibold;
  }

  .body-1 {
    @apply text-[16px] leading-[24px] font-monaRegular;
  }

  .body-2 {
    @apply text-[14px] leading-[20px] font-monaRegular;
  }

  .body-2 {
    @apply text-[14px] leading-[20px] font-monaRegular;
  }

  .form-item {
    @apply flex w-full h-[78px] flex-col justify-center rounded-lg border border-[#F2F5F9] px-4 py-2 shadow-drop-1 space-y-2 !important;
  }

  .form-input-focus {
    @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .form-input {
    @apply border-none shadow-none p-0 form-input-focus placeholder:text-[#A3B2C7] body-2 w-full !important;
  }

  .form-label {
    @apply w-full text-[#333F4E] body-1 font-monaSemibold !important;
  }

  .portfolioMarquee {
    @apply relative max-lg:max-w-[21rem] lg:!max-w-[37rem] lg:h-full lg:min-h-[360px] lg:max-h-[380px] rounded-xl mx-2 overflow-hidden !important;
  }

  /* .sticked {
    @apply w-full lg:w-1/2 lg:sticky lg:top-28 !important;
  } */

  /* .parallax-tilt {
    @apply w-full transform-3d;
  } */
}

.parallax-effect {
  transform-style: preserve-3d;
}

.innerEffect {
  transform: translateZ(50px);
}

.masking {
  -webkit-mask-image: linear-gradient(90deg, #0000 3%, #000 25% 75%, #0000 97%);
  mask-image: linear-gradient(90deg, #0000 3%, #000 25% 75%, #0000 97%);
}

.startItem {
  display: flex;
  align-items: start;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  border-radius: 1rem !important;
}

.client-logo img {
  width: 150px;
  height: 60px;
  object-fit: contain;
}

.plansNumb {
  position: relative;
}

.plansNumb::before {
  position: absolute;
  content: '';
  width: 280px;
  height: 100%;
  left: 30px;
  z-index: 1;
  background-image: url('/images/icons/dottedRightArrow.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftArr {
  position: relative;
}

.leftArr::before {
  position: absolute;
  content: '';
  width: 280px;
  height: 100%;
  left: 24px;
  background-image: url('/images/icons/dottedArrowLeft.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.plansNumb48 {
  position: relative;
}

.plansNumb48::before {
  position: absolute;
  content: '';
  width: 19.75rem;
  height: 14.7rem;
  left: 1.5rem;
  top: 8px;
  z-index: 1;
  background-image: url('/images/icons/turnAroundWhite2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97.75% 99%;
}

.downArrow {
  position: relative;
}

.downArrow::before {
  position: absolute;
  content: '';
  left: 0;
  top: 20px;
  width: 25px;
  height: 100%;
  z-index: -1;
  background: url('/images/icons/downArrowWhite.png') no-repeat 1px top
    transparent;
  background-size: 20px 88%;
}

.platformCont {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.5rem;
}

@media screen and (max-width: 1399px) {
  .plansNumb48::before {
    width: 17.5rem;
    height: 15.9rem;
    background-size: 97% 100%;
  }
}

@media screen and (min-width: 768px) {
  .my-scroll-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: max-content;
  }

  .sticky-child {
    flex: 1 1 auto;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .controls-panel {
    display: flex;
    flex-direction: column;
  }
}
